@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumSquareRound', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
        min-height:100vh;
}

main {
	font-family: 'NanumSquareRound', Arial, sans-serif;
    max-width: 800px;
    margin: 150px auto 100px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-size: 16px;
}

td {
    padding: 0.8rem;
    border: 1px solid #ddd;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 1rem;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    margin-top: 0.5rem;
}

.button-options{
	display:flex;
	justify-content:space-between;
	align-items: center;	
}

.table-title {
	font-size:26px;
	font-weight:	
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

.align-center {
    text-align: center;
}

.font-default {
    font-family: '돋움', sans-serif;
    font-size: 12px;
}
