@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
/*     margin: 0; */
    padding: 0;
    background-color: #f4f4f4;
}

main {
	margin:150px auto 20px;
    max-width: 800px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
main .maintitle{
	font-size:40px;
	font-weight: 800;
	margin-bottom: 40px;
	text-align:center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

td {
    padding: 0.8rem;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:first-child td {
    background-color: #fcb100e0;
    color: white;
    font-weight: bold;
}

a {
    color: #4CAF50;
    text-decoration: none;
    margin-right: 10px;
}

.table-warning{
	border-radius: 24px;
}

a:hover {
    text-decoration: underline;
}

.action-links {
    text-align: center;
    padding: 1rem 0;
}

.action-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.action-links a:hover {
    background-color: #45a049;
    text-decoration: none;
}

.option-button {
	display:flex;
	justify-content:center;
}