@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'NanumSquareRound';
    background-color: #f7f4f0 !important;
    color: #545045;
    font: normal 1rem/1.25;
}

main {/* 
	padding-left: 100px;
    padding-right: 100px; */
    text-align: center;
	margin: 100px auto 0; 
    background-color: #f7f4f0;
}

.itembox {
	border-radius:24px;
	background-color: #fff;
/* 	border : 1px solid #333; */
	margin:20px;
}
.box1{
	height:270px;
}
.home_my_bottom{
	display:flex;
	align-items: center;
    justify-content: space-between;
    height:50%;
}
.home_my_bottom_left ul {
	margin-top:40px;
}
.home_my_bottom_left ul li{
	list-style:none;
	 line-height:200%;
}
.home_my_bottom_left ul li a{
	color:#8d744a;
}

.home_my_bottom_right .colly{
	height:200px;
}

#video{
	 border-radius: 24px;
	
}
.col-9{
	border-color : transparent;
}
.mycol-3{
	text-align:left;
}
.cloud{
	border : 1px solid #333;
}
.sslNote{
	border : 1px solid #333;
}
#home_my{
	margin-top:20px;
}
a{
	 text-decoration: none;
	 color:#8d744a;
	 font-size:16px;'
	 
}
#home_my_buttom{
	  display: flex;
}
 #home_my_buttom a {
      display: inline-block;
      margin-bottom: 5px;
 }
#collyImg{
 	padding-left:170px;

 }