@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'NanumSquareRound';
    background-color: #f7f4f0 !important;
    color: #545045;
    font: normal 1rem/1.25;
}

main {
	padding-left: 100px;
    padding-right: 100px; 
    text-align: center;
	margin: 100px auto 0; 
    background-color: #f7f4f0;
    font-family: 'NanumSquareRound';
}

.itembox {
	border-radius:24px;
	background-color: #fff;
    overflow: hidden; /* �씠誘몄�媛� 諛뺤뒪 諛뽰쑝濡� �굹媛�吏� �븡�룄濡� */
/*     display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;  */
}
.row:last-child .itembox {
    height: 100px; /* �삉�뒗 �썝�븯�뒗 �넂�씠 */
}

.box1{
	height:270px;
}
.home_my_bottom{
	display:flex;
	align-items: center;
    justify-content: space-between;
    height:50%;
}
.home_my_bottom_left ul {
	margin-top:40px;
}
.home_my_bottom_left ul li{
	list-style:none;
	 line-height:200%;
}
.home_my_bottom_left ul li a{
	color:#8d744a;
}

.home_my_bottom_right .colly{
	height:200px;
}

.training-status{
	background:linear-gradient(-51deg,#88b530,#99c93c);
	color:#fff;
	font-family: 'NanumSquareRound';
/* 	height: 270px; */
}

.title-area{
	padding-left:32px;
	padding-right:32px;
	margin-top:20px;
	display:flex;
	justify-content:space-between;
}
.training-status .status-wrapper {
	margin-top:60px;
}
.training-status .status-wrapper ul{

}

.training-status .status-wrapper ul li{
	list-style:none;
	margin-bottom:20px;
}

.training-status .status-wrapper ul li .status-inner{
	display:flex;
	justify-content:space-between;
}

.training-status .status-wrapper ul li .status-inner .training-inner{
	display:flex;
	align-items:center;
}

#video{
	 border-radius: 24px;
	
}


.col-9 {
    flex: 0 0 auto;
    width: 75%;
    

}
.mycol-3{
	text-align:left;
}
.cloud{

}

.sslNote{
	height:600px;
}
/* .hottip{
	background-image:url("../images/hottip.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:
} */

.bottom-button{
	display:flex;
	justify-content:space-around;
	margin-bottom:50px;
}

.bottom-icon {
	border-radius:24px;
    width: 247px;
    height: 247px;
    object-fit: contain;
    max-height: 100%;
}

#home_my{
	margin-top:20px;
}
a{
	 text-decoration: none;
	 color:#8d744a;
	 font-size:16px;'
	 
}
#home_my_buttom{
	  display: flex;
}
 #home_my_buttom a {
      display: inline-block;
      margin-bottom: 5px;
 }
#collyImg{
 	padding-left:170px;

 }
.mainhomeVideo{
	border:7px solid #f7f4f0
}
.myhome{
	border:7px solid #f7f4f0
}
.today{
	border:7px solid #f7f4f0
}
.now{
	border:7px solid #f7f4f0
}
.training-status{
	border:7px solid #f7f4f0
}
.hottip{
	border:7px solid #f7f4f0
}
.cloud{
	border:7px solid #f7f4f0
}
.badge{
	border:7px solid #f7f4f0;
	 border-radius: 24px;
}
.sslNote{
	border:7px solid #f7f4f0
}
img{
	border-color:transparent;
}
.nonono{
	 border-radius: 24px;
}
.badgeimg{
	width:350px;
}
.badgediv{
	border-radius: 24px;
	border:7px solid #f7f4f0;
}